<component name="libraryTable">
  <library name="spring4.1.6">
    <CLASSES>
      <root url="jar://D:/sy/lib/spring/spring-aop-4.1.6.RELEASE.jar!/" />
      <root url="jar://D:/sy/lib/spring/spring-aspects-4.1.6.RELEASE.jar!/" />
      <root url="jar://D:/sy/lib/spring/spring-beans-4.1.6.RELEASE.jar!/" />
      <root url="jar://D:/sy/lib/spring/spring-context-4.1.6.RELEASE.jar!/" />
      <root url="jar://D:/sy/lib/spring/spring-context-support-4.1.6.RELEASE.jar!/" />
      <root url="jar://D:/sy/lib/spring/spring-core-4.1.6.RELEASE.jar!/" />
      <root url="jar://D:/sy/lib/spring/spring-expression-4.1.6.RELEASE.jar!/" />
      <root url="jar://D:/sy/lib/spring/spring-instrument-4.1.6.RELEASE.jar!/" />
      <root url="jar://D:/sy/lib/spring/spring-instrument-tomcat-4.1.6.RELEASE.jar!/" />
      <root url="jar://D:/sy/lib/spring/spring-jdbc-4.1.6.RELEASE.jar!/" />
      <root url="jar://D:/sy/lib/spring/spring-jms-4.1.6.RELEASE.jar!/" />
      <root url="jar://D:/sy/lib/spring/spring-messaging-4.1.6.RELEASE.jar!/" />
      <root url="jar://D:/sy/lib/spring/spring-orm-4.1.6.RELEASE.jar!/" />
      <root url="jar://D:/sy/lib/spring/spring-oxm-4.1.6.RELEASE.jar!/" />
      <root url="jar://D:/sy/lib/spring/spring-test-4.1.6.RELEASE.jar!/" />
      <root url="jar://D:/sy/lib/spring/spring-tx-4.1.6.RELEASE.jar!/" />
      <root url="jar://D:/sy/lib/spring/spring-web-4.1.6.RELEASE.jar!/" />
      <root url="jar://D:/sy/lib/spring/spring-webmvc-4.1.6.RELEASE.jar!/" />
      <root url="jar://D:/sy/lib/spring/spring-webmvc-portlet-4.1.6.RELEASE.jar!/" />
      <root url="jar://D:/sy/lib/spring/spring-websocket-4.1.6.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC>
      <root url="jar://D:/sy/lib/spring/spring-aop-4.1.6.RELEASE-javadoc.jar!/" />
      <root url="jar://D:/sy/lib/spring/spring-aspects-4.1.6.RELEASE-javadoc.jar!/" />
      <root url="jar://D:/sy/lib/spring/spring-beans-4.1.6.RELEASE-javadoc.jar!/" />
      <root url="jar://D:/sy/lib/spring/spring-context-4.1.6.RELEASE-javadoc.jar!/" />
      <root url="jar://D:/sy/lib/spring/spring-context-support-4.1.6.RELEASE-javadoc.jar!/" />
      <root url="jar://D:/sy/lib/spring/spring-core-4.1.6.RELEASE-javadoc.jar!/" />
      <root url="jar://D:/sy/lib/spring/spring-expression-4.1.6.RELEASE-javadoc.jar!/" />
      <root url="jar://D:/sy/lib/spring/spring-instrument-4.1.6.RELEASE-javadoc.jar!/" />
      <root url="jar://D:/sy/lib/spring/spring-instrument-tomcat-4.1.6.RELEASE-javadoc.jar!/" />
      <root url="jar://D:/sy/lib/spring/spring-jdbc-4.1.6.RELEASE-javadoc.jar!/" />
      <root url="jar://D:/sy/lib/spring/spring-jms-4.1.6.RELEASE-javadoc.jar!/" />
      <root url="jar://D:/sy/lib/spring/spring-messaging-4.1.6.RELEASE-javadoc.jar!/" />
      <root url="jar://D:/sy/lib/spring/spring-orm-4.1.6.RELEASE-javadoc.jar!/" />
      <root url="jar://D:/sy/lib/spring/spring-oxm-4.1.6.RELEASE-javadoc.jar!/" />
      <root url="jar://D:/sy/lib/spring/spring-test-4.1.6.RELEASE-javadoc.jar!/" />
      <root url="jar://D:/sy/lib/spring/spring-tx-4.1.6.RELEASE-javadoc.jar!/" />
      <root url="jar://D:/sy/lib/spring/spring-web-4.1.6.RELEASE-javadoc.jar!/" />
      <root url="jar://D:/sy/lib/spring/spring-webmvc-4.1.6.RELEASE-javadoc.jar!/" />
      <root url="jar://D:/sy/lib/spring/spring-webmvc-portlet-4.1.6.RELEASE-javadoc.jar!/" />
      <root url="jar://D:/sy/lib/spring/spring-websocket-4.1.6.RELEASE-javadoc.jar!/" />
    </JAVADOC>
    <SOURCES>
      <root url="jar://D:/sy/lib/spring/spring-aop-4.1.6.RELEASE-sources.jar!/" />
      <root url="jar://D:/sy/lib/spring/spring-aspects-4.1.6.RELEASE-sources.jar!/" />
      <root url="jar://D:/sy/lib/spring/spring-beans-4.1.6.RELEASE-sources.jar!/" />
      <root url="jar://D:/sy/lib/spring/spring-context-4.1.6.RELEASE-sources.jar!/" />
      <root url="jar://D:/sy/lib/spring/spring-context-support-4.1.6.RELEASE-sources.jar!/" />
      <root url="jar://D:/sy/lib/spring/spring-core-4.1.6.RELEASE-sources.jar!/" />
      <root url="jar://D:/sy/lib/spring/spring-expression-4.1.6.RELEASE-sources.jar!/" />
      <root url="jar://D:/sy/lib/spring/spring-instrument-4.1.6.RELEASE-sources.jar!/" />
      <root url="jar://D:/sy/lib/spring/spring-instrument-tomcat-4.1.6.RELEASE-sources.jar!/" />
      <root url="jar://D:/sy/lib/spring/spring-jdbc-4.1.6.RELEASE-sources.jar!/" />
      <root url="jar://D:/sy/lib/spring/spring-jms-4.1.6.RELEASE-sources.jar!/" />
      <root url="jar://D:/sy/lib/spring/spring-messaging-4.1.6.RELEASE-sources.jar!/" />
      <root url="jar://D:/sy/lib/spring/spring-orm-4.1.6.RELEASE-sources.jar!/" />
      <root url="jar://D:/sy/lib/spring/spring-oxm-4.1.6.RELEASE-sources.jar!/" />
      <root url="jar://D:/sy/lib/spring/spring-test-4.1.6.RELEASE-sources.jar!/" />
      <root url="jar://D:/sy/lib/spring/spring-tx-4.1.6.RELEASE-sources.jar!/" />
      <root url="jar://D:/sy/lib/spring/spring-web-4.1.6.RELEASE-sources.jar!/" />
      <root url="jar://D:/sy/lib/spring/spring-webmvc-4.1.6.RELEASE-sources.jar!/" />
      <root url="jar://D:/sy/lib/spring/spring-webmvc-portlet-4.1.6.RELEASE-sources.jar!/" />
      <root url="jar://D:/sy/lib/spring/spring-websocket-4.1.6.RELEASE-sources.jar!/" />
    </SOURCES>
  </library>
</component>