<component name="libraryTable">
  <library name="spring4.1.6">
    <CLASSES>
      <root url="jar://E:/sy/lib/spring/spring-framework-4.1.6.RELEASE/libs/spring-aop-4.1.6.RELEASE.jar!/" />
      <root url="jar://E:/sy/lib/spring/spring-framework-4.1.6.RELEASE/libs/spring-aspects-4.1.6.RELEASE.jar!/" />
      <root url="jar://E:/sy/lib/spring/spring-framework-4.1.6.RELEASE/libs/spring-beans-4.1.6.RELEASE.jar!/" />
      <root url="jar://E:/sy/lib/spring/spring-framework-4.1.6.RELEASE/libs/spring-context-4.1.6.RELEASE.jar!/" />
      <root url="jar://E:/sy/lib/spring/spring-framework-4.1.6.RELEASE/libs/spring-context-support-4.1.6.RELEASE.jar!/" />
      <root url="jar://E:/sy/lib/spring/spring-framework-4.1.6.RELEASE/libs/spring-core-4.1.6.RELEASE.jar!/" />
      <root url="jar://E:/sy/lib/spring/spring-framework-4.1.6.RELEASE/libs/spring-expression-4.1.6.RELEASE.jar!/" />
      <root url="jar://E:/sy/lib/spring/spring-framework-4.1.6.RELEASE/libs/spring-instrument-4.1.6.RELEASE.jar!/" />
      <root url="jar://E:/sy/lib/spring/spring-framework-4.1.6.RELEASE/libs/spring-instrument-tomcat-4.1.6.RELEASE.jar!/" />
      <root url="jar://E:/sy/lib/spring/spring-framework-4.1.6.RELEASE/libs/spring-jdbc-4.1.6.RELEASE.jar!/" />
      <root url="jar://E:/sy/lib/spring/spring-framework-4.1.6.RELEASE/libs/spring-jms-4.1.6.RELEASE.jar!/" />
      <root url="jar://E:/sy/lib/spring/spring-framework-4.1.6.RELEASE/libs/spring-messaging-4.1.6.RELEASE.jar!/" />
      <root url="jar://E:/sy/lib/spring/spring-framework-4.1.6.RELEASE/libs/spring-orm-4.1.6.RELEASE.jar!/" />
      <root url="jar://E:/sy/lib/spring/spring-framework-4.1.6.RELEASE/libs/spring-oxm-4.1.6.RELEASE.jar!/" />
      <root url="jar://E:/sy/lib/spring/spring-framework-4.1.6.RELEASE/libs/spring-test-4.1.6.RELEASE.jar!/" />
      <root url="jar://E:/sy/lib/spring/spring-framework-4.1.6.RELEASE/libs/spring-tx-4.1.6.RELEASE.jar!/" />
      <root url="jar://E:/sy/lib/spring/spring-framework-4.1.6.RELEASE/libs/spring-web-4.1.6.RELEASE.jar!/" />
      <root url="jar://E:/sy/lib/spring/spring-framework-4.1.6.RELEASE/libs/spring-webmvc-4.1.6.RELEASE.jar!/" />
      <root url="jar://E:/sy/lib/spring/spring-framework-4.1.6.RELEASE/libs/spring-webmvc-portlet-4.1.6.RELEASE.jar!/" />
      <root url="jar://E:/sy/lib/spring/spring-framework-4.1.6.RELEASE/libs/spring-websocket-4.1.6.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC>
      <root url="jar://E:/sy/lib/spring/spring-framework-4.1.6.RELEASE/libs/spring-aop-4.1.6.RELEASE-javadoc.jar!/" />
      <root url="jar://E:/sy/lib/spring/spring-framework-4.1.6.RELEASE/libs/spring-aspects-4.1.6.RELEASE-javadoc.jar!/" />
      <root url="jar://E:/sy/lib/spring/spring-framework-4.1.6.RELEASE/libs/spring-beans-4.1.6.RELEASE-javadoc.jar!/" />
      <root url="jar://E:/sy/lib/spring/spring-framework-4.1.6.RELEASE/libs/spring-context-4.1.6.RELEASE-javadoc.jar!/" />
      <root url="jar://E:/sy/lib/spring/spring-framework-4.1.6.RELEASE/libs/spring-context-support-4.1.6.RELEASE-javadoc.jar!/" />
      <root url="jar://E:/sy/lib/spring/spring-framework-4.1.6.RELEASE/libs/spring-core-4.1.6.RELEASE-javadoc.jar!/" />
      <root url="jar://E:/sy/lib/spring/spring-framework-4.1.6.RELEASE/libs/spring-expression-4.1.6.RELEASE-javadoc.jar!/" />
      <root url="jar://E:/sy/lib/spring/spring-framework-4.1.6.RELEASE/libs/spring-instrument-4.1.6.RELEASE-javadoc.jar!/" />
      <root url="jar://E:/sy/lib/spring/spring-framework-4.1.6.RELEASE/libs/spring-instrument-tomcat-4.1.6.RELEASE-javadoc.jar!/" />
      <root url="jar://E:/sy/lib/spring/spring-framework-4.1.6.RELEASE/libs/spring-jdbc-4.1.6.RELEASE-javadoc.jar!/" />
      <root url="jar://E:/sy/lib/spring/spring-framework-4.1.6.RELEASE/libs/spring-jms-4.1.6.RELEASE-javadoc.jar!/" />
      <root url="jar://E:/sy/lib/spring/spring-framework-4.1.6.RELEASE/libs/spring-messaging-4.1.6.RELEASE-javadoc.jar!/" />
      <root url="jar://E:/sy/lib/spring/spring-framework-4.1.6.RELEASE/libs/spring-orm-4.1.6.RELEASE-javadoc.jar!/" />
      <root url="jar://E:/sy/lib/spring/spring-framework-4.1.6.RELEASE/libs/spring-oxm-4.1.6.RELEASE-javadoc.jar!/" />
      <root url="jar://E:/sy/lib/spring/spring-framework-4.1.6.RELEASE/libs/spring-test-4.1.6.RELEASE-javadoc.jar!/" />
      <root url="jar://E:/sy/lib/spring/spring-framework-4.1.6.RELEASE/libs/spring-tx-4.1.6.RELEASE-javadoc.jar!/" />
      <root url="jar://E:/sy/lib/spring/spring-framework-4.1.6.RELEASE/libs/spring-web-4.1.6.RELEASE-javadoc.jar!/" />
      <root url="jar://E:/sy/lib/spring/spring-framework-4.1.6.RELEASE/libs/spring-webmvc-4.1.6.RELEASE-javadoc.jar!/" />
      <root url="jar://E:/sy/lib/spring/spring-framework-4.1.6.RELEASE/libs/spring-webmvc-portlet-4.1.6.RELEASE-javadoc.jar!/" />
      <root url="jar://E:/sy/lib/spring/spring-framework-4.1.6.RELEASE/libs/spring-websocket-4.1.6.RELEASE-javadoc.jar!/" />
    </JAVADOC>
    <SOURCES>
      <root url="jar://E:/sy/lib/spring/spring-framework-4.1.6.RELEASE/libs/spring-aop-4.1.6.RELEASE-sources.jar!/" />
      <root url="jar://E:/sy/lib/spring/spring-framework-4.1.6.RELEASE/libs/spring-aspects-4.1.6.RELEASE-sources.jar!/" />
      <root url="jar://E:/sy/lib/spring/spring-framework-4.1.6.RELEASE/libs/spring-beans-4.1.6.RELEASE-sources.jar!/" />
      <root url="jar://E:/sy/lib/spring/spring-framework-4.1.6.RELEASE/libs/spring-context-4.1.6.RELEASE-sources.jar!/" />
      <root url="jar://E:/sy/lib/spring/spring-framework-4.1.6.RELEASE/libs/spring-context-support-4.1.6.RELEASE-sources.jar!/" />
      <root url="jar://E:/sy/lib/spring/spring-framework-4.1.6.RELEASE/libs/spring-core-4.1.6.RELEASE-sources.jar!/" />
      <root url="jar://E:/sy/lib/spring/spring-framework-4.1.6.RELEASE/libs/spring-expression-4.1.6.RELEASE-sources.jar!/" />
      <root url="jar://E:/sy/lib/spring/spring-framework-4.1.6.RELEASE/libs/spring-instrument-4.1.6.RELEASE-sources.jar!/" />
      <root url="jar://E:/sy/lib/spring/spring-framework-4.1.6.RELEASE/libs/spring-instrument-tomcat-4.1.6.RELEASE-sources.jar!/" />
      <root url="jar://E:/sy/lib/spring/spring-framework-4.1.6.RELEASE/libs/spring-jdbc-4.1.6.RELEASE-sources.jar!/" />
      <root url="jar://E:/sy/lib/spring/spring-framework-4.1.6.RELEASE/libs/spring-jms-4.1.6.RELEASE-sources.jar!/" />
      <root url="jar://E:/sy/lib/spring/spring-framework-4.1.6.RELEASE/libs/spring-messaging-4.1.6.RELEASE-sources.jar!/" />
      <root url="jar://E:/sy/lib/spring/spring-framework-4.1.6.RELEASE/libs/spring-orm-4.1.6.RELEASE-sources.jar!/" />
      <root url="jar://E:/sy/lib/spring/spring-framework-4.1.6.RELEASE/libs/spring-oxm-4.1.6.RELEASE-sources.jar!/" />
      <root url="jar://E:/sy/lib/spring/spring-framework-4.1.6.RELEASE/libs/spring-test-4.1.6.RELEASE-sources.jar!/" />
      <root url="jar://E:/sy/lib/spring/spring-framework-4.1.6.RELEASE/libs/spring-tx-4.1.6.RELEASE-sources.jar!/" />
      <root url="jar://E:/sy/lib/spring/spring-framework-4.1.6.RELEASE/libs/spring-web-4.1.6.RELEASE-sources.jar!/" />
      <root url="jar://E:/sy/lib/spring/spring-framework-4.1.6.RELEASE/libs/spring-webmvc-4.1.6.RELEASE-sources.jar!/" />
      <root url="jar://E:/sy/lib/spring/spring-framework-4.1.6.RELEASE/libs/spring-webmvc-portlet-4.1.6.RELEASE-sources.jar!/" />
      <root url="jar://E:/sy/lib/spring/spring-framework-4.1.6.RELEASE/libs/spring-websocket-4.1.6.RELEASE-sources.jar!/" />
    </SOURCES>
  </library>
</component>