<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
    <aop:config>
        <aop:aspect id="log" ref="logging">
            <aop:pointcut id="selectAll" expression="execution(* com.tutorialspoint.*.*(..))"/>
            <aop:before method="beforeAdvice" pointcut-ref="selectAll"/>
            <aop:after method="afterAdvice" pointcut-ref="selectAll"/>
            <aop:after-returning method="afterReturningAdvice" pointcut-ref="selectAll" returning="retVal"/>
            <aop:after-throwing method="AfterThrowingAdvice" pointcut-ref="selectAll" throwing="ex"/>

        </aop:aspect>
    </aop:config>

    <bean id="student" class="com.tutorialspoint.Student">
        <property name="name" value="zzz"></property>
        <property name="age" value="22" />
    </bean>

    <bean id="logging" class="com.tutorialspoint.Logging" />

    <bean id="helloWorld" class="com.tutorialspoint.HelloWorld" init-method="init" destroy-method="destory">
        <property name="message" value="Hello World8888!!"></property>
    </bean>

    <bean id="helloWorldP" class="com.tutorialspoint.HelloWorld" scope="prototype" init-method="init" destroy-method="destory">
        <property name="message" value="Hello World8888!!"></property>
    </bean>

<!--    <bean class="com.tutorialspoint.InitHelloWorld"/>-->
</beans>